.landing-page {
  width:1140px;
  margin-left:200px;
  position: absolute;
  top:0;
  height: 100vh;
  padding:50px;
  background-image: url(../images/srikanth3.jpeg), linear-gradient(to right, #000000, #434343);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size:center;
  background-position-x:100%;
  height:100vh;
  color:#fff;

}
.showcase {
  text-align: center;
  width: 100%;
  padding: 10px;
  
  
}


.showcase h1 {
  font-size:3em;
  font-weight:500;
  margin:50px;
  color:#ffffff;
}
.showcase h3 {
  color:red;
}
