.App {
  position: absolute;
}
.App ul {
  margin: 0;
  padding: 0;
  border-right: 2px solid rgba(0, 255, 13, 0.37);
  list-style: none;
  line-height:2;
  width:200px;
  height:100vh;
}
.App ul li  {
margin:30px;
margin-top:50px;
cursor: pointer;
font-size: 1.5em;
padding:5px 45px;
border-radius:4px;
}

 
.App ul li a{
  text-decoration: none;
  color:rgb(34, 9, 9);
}


